### IDE 관련 파일 ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea/
*.iws
*.iml
*.ipr
.vscode/

### 빌드 결과물 제외 ###
target/
build/

### 환경 변수 파일 제외 ###
.env
**/application*.properties
secrets/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
